body{
    /* background: rgb(236, 231, 221); */
    background-color: #e6e6d5;
    background: url(../images/backg-1.jpg) no-repeat;
    background-size: cover;
}


a{
    text-decoration: none;
}

.title1 {
    margin: auto;
    width: 600px;
    display: block;
    background: white;
    font-size:25px;
    /* color:#ff6700; */
    color: black;
    opacity:0.9;
}

.title1 p{
    text-align: center;
}

.content{
    width: 352px;
    margin:auto; 
}

.content ul{
    list-style: none;
    color: red;
    margin: 0;
    padding: 0;
    margin: auto;
}

.content  li{
    /* background-color:#e9965e ; */
    background-color: rgb(236, 231, 221);
    padding: 0px;
    border:1px solid gray;
    color: #fff;
    width: 350px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    opacity:0.95;
}

.content a{ 
    margin: 0px;
    font-size: 18px;
    font-family: 微软雅黑;
    /* background-color:#e9965e ; */
    background-color: rgb(236, 231, 221);
    color: bule;
    /* color: #2c2e2e; */
    display: block;
    text-align: center;
}

.content  li:hover{
    color: white;
}

.content a:hover{
    color: white;
    /* background-color:rgb(70, 68, 68); */
    background: black;
}     

span{
    color:rgb(160, 126, 57);
    font-size: 18px;
    float: left; 
}           