body{
    /* background-color: #e6e6d5; */
    background-color: #d8e8ec;
}

ul {
    margin: 0px;
    padding: 0;
}

.memu::before,.memu::after{
    content: "";
    display: table;
}

.memu::before,.memu::after{
    clear: both;
}

a{
    text-decoration: none;
}


.memu{
    margin: auto;
    border: solid black 1px;
    height: 633px;
    width: 577px;
} 


.nav-a {
    border: springgreen 1px solid;
    width: 190px;
    float: left;
}

.ul-a {
    float: left;
    width: 382px;
    border: 1px solid green;
}
.conall {
    display: none;
}

.active {
    display: block;
}

.title1 {
    margin: auto;
    width: 600px;
    display: block;
    background: white;
    font-size:25px;
    /* color:#ff6700; */ 
    color: black;
    opacity:0.9;
}

.title1 p{
    text-align: center;
}


.content1{
    border: solid 1px blue;
    background-image: url(../images/back-1.jpg);
    background-size: 100% 100%;
    width: 380px;
}

.content2{
    background-image: url(../images/back-2.jpg);
    background-size: 100% 100%;
    width: 380px;
}

.conall ul{
    display: none;
    list-style: none;
    color: red;
    margin: 0px;
    padding: 0;
    margin: auto;
}

.conall .active {
    display: block;
}

.conall li{
    /* background-color:#e9965e ; */
    display: block;
    background-color: rgb(236, 231, 221);
    padding: 0px;
    color: #fff;
    width: 380px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    opacity:0.8;
}

.conall a{ 
    margin: 0px;
    font-size: 18px;
    font-family: 微软雅黑;
    /* background-color:#e9965e ; */
    background-color: rgb(236, 231, 221);
    color: rgb(23, 23, 160);
    /* color: #2c2e2e; */
    display: block;
    text-align: center;
    border:1px solid gray;
    
}


.conall ul:hover{
    color: white;
}


.conall a:hover{
    color: yellowgreen;
    background-color:rgb(43, 41, 41);
    /* background: black; */
}     

.conall span{
    display: table;
    color:rgb(160, 126, 57);
    font-size: 18px;
    float: left; 
}           




