body{
    /* background: rgb(236, 231, 221); */
    background-color: #e6e6d5;
    /* background: url(../images/back4.jpg); */
    /* background-size: cover; */
}


a{
    text-decoration: none;
}

.title1 {
    margin: auto;
    width: 600px;
    display: block;
    background: white;
    font-size:25px;
    /* color:#ff6700; */ 
    color: black;
    opacity:0.9;
}

.title1 p{
    text-align: center;
}



.content{
    width: 380px;
    margin:auto; 
}

.content ul{
    background: url(../images/back3.png);
    list-style: none;
    color: red;
    margin: 0;
    padding: 0;
    margin: auto;
}

.content  li{
    /* background-color:#e9965e ; */
    background-color: rgb(236, 231, 221);
    padding: 0px;
    color: #fff;
    width: 380px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    opacity:0.65;
}

.content a{ 
    margin: 0px;
    font-size: 18px;
    font-family: 微软雅黑;
    /* background-color:#e9965e ; */
    background-color: rgb(236, 231, 221);
    color: rgb(23, 23, 160);
    /* color: #2c2e2e; */
    display: block;
    text-align: center;
    border:1px solid gray;
    
}


.content  li:hover{
    color: white;
}


.content a:hover{
    color: white;
    background-color:rgb(43, 41, 41);
    /* background: black; */
}     

span{
    color:rgb(160, 126, 57);
    font-size: 18px;
    float: left; 
}           




