body{
    background: rgb(236, 231, 221);
}


a{
    text-decoration: none;
}

.title1 p{
    text-align: center;
    font-size:25px;
    color:#ff6700;
}

.content{
    width: 351px;
    margin:auto; 
}

.content ul{
    list-style: none;
    color: red;
    margin: 0;
    padding: 0;
    margin: auto;
}

.content  li{
    background-color:#e9965e ;
    padding: 0px;
    border:1px solid gray;
    color: #fff;
    width: 350px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.content a{ 
    margin: 0px;
    font-size: 15px;
    font-family: 微软雅黑;
    background-color:#e9965e ;
    color: black;
    display: block;
    text-align: center;
}

.content  li:hover{
    color: white;
}

.content a:hover{
    color: white;
    background-color:rgb(70, 68, 68);
}     

span{
    color:rgb(160, 126, 57);
    font-size: 18px;
    float: left; 
}           