body{
    background: rgb(236, 231, 221);
    /* background: rgb(253, 237, 237); */
}


a{
    text-decoration: none;
}

.title1 p{
    text-align: center;
    font-size:25px;
    color:#ff6700;
}

.content{
    width: 331px;
    margin:auto; 
    /* border: 1px solid black; */
}

.content ul{
    list-style: none;
    color: red;
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
    margin: auto;
}

.content  li{
    background-color:#e9965e ;
    /* background-color: rgb(190, 230, 240); */
    padding: 0px;
    /* margin-bottom:-1px; */
    /* background: #eca16f; */
    border:1px solid gray;
    /* border: 1px solid black; */
    /* display: block; */
    color: #fff;
    width: 330px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}

.content a{ 
    margin: 0px;
    font-size: 15px;
    font-family: 微软雅黑;
    background-color:#e9965e ;
    /* background-color:#99CCFF; */
    /* background-color: rgb(45, 119, 138); */
    color: black;
    /* color: #CCFF99; */
    display: block;
    text-align: center;
}

.content  li:hover{
    color: white;
}

.content a:hover{
    color: white;
    background-color:rgb(70, 68, 68);
}     

span{
    color:rgb(160, 126, 57);
    /* color: rgb(2, 250, 2); */
    font-size: 18px;
    float: left; 
}           